@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto+Mono&family=Source+Code+Pro&display=swap');

/* font-family: 'Amatic SC', cursive;

font-family: 'Roboto Mono', monospace;

font-family: 'Source Code Pro', monospace; */

*{
    box-sizing: border-box;
    /* border: 1px solid dodgerblue; */
    /* padding: 1em; */
}


body{
    background-color: #5cdb95;
    font-family: 'Roboto Mono', monospace;
}

main{
    margin: 0 auto;
    width: 90%;
}

header{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    color: #05386b;
}

header:hover{
    background-color: #edf5e1;
    color: #379683;
}


.layout{
    display: flex;
    justify-content: space-between;
    max-height: 800px;
}

.tools{
    background-color: hsla(84, 50%, 92%, 0.301);
    padding: 10px 60px;
    opacity: 0.8;
    text-align: center;
}
.tools:hover{
    opacity: 1;
}

.grid-selector{
   
    margin: 5px 5px; 
    padding: 10px 0;
    color: #05386b;
    text-shadow: 0.5px 0.5px 0.5px #edf5e1;
    font-size: 1.175rem;
}

.slider{
    opacity: 0.6;
    background-color:#379683;
    outline: none;
    width: 180px;
}

.slider:hover{
    opacity: 1;
}

.grid-size{
    font-size: 0.75rem;
    background-color: rgba(255, 248, 220, 0.445);
    border-radius: 100px;
}

.btn{
    text-align: center;
    display: block;
    font-family: 'Source Code Pro', monospace; 
    border: none;
    border-radius: 100px;
    width: 200px;
    margin: 40px 30px;
    margin-left: 30px;
    padding: 10px 10px;
    font-size: 1.175rem;
    color: whitesmoke;
    box-shadow: 1.5px 1.6px 0.6px #379683;
}
.btn:hover{
    background-color: whitesmoke;
    font-style: italic;
    color: black;
}
.btn:active{
    transform: scale(1.125);
}

.swatches1{
    background-color: #ee4c7c;
   
}
.swatches2{
    background-color: #e27d60;
}
.random{
    background-color: #f13c20;  
}

.grid-container{
    width: 750px;
    height: 750px;
    background-color: white;
    display: grid;
    gap: 0;
}
.grid{
    border: 0.01px solid rgba(0, 0, 0, 0.205);
}
.hover{
    background-color: black;
}
.black{
    background-color: black;
}
.info{
    margin: 0px 0;
    padding: 10px 60px;
    background-color: hsla(84, 50%, 92%, 0.301);
    opacity: 0.8;
}

.info:hover{
    opacity: 1;
}

.color-btn{
    background-color: palegreen;
    color: #05386b;
}

.reset{
    background-color: #05386b;
    margin: 30px 55px 15px 55px;
}

.eraser{
    background-color: whitesmoke;
    margin: 0 55px;
    color:rgba(0, 0, 0, 0.596);
}
.eraser-active{
    background-color: cornflowerblue;
}

.colors{
    margin: 0 20px;
    padding: 10px 10px;
}
label{
    padding-right: 15px;
}
footer{
    text-align: center;
    color: #05386b;
    margin: 50px 0;
}
footer a{
    text-decoration: none;
    color: #05386b;
}
footer a:hover{
    color: greenyellow;
    text-shadow: 1.5px 1.95px 0.4px black;
}

.img{
    opacity: 0.6;
    filter: blur(0.85px);
    margin-left: 12px;
    margin-top: 25px;
}
.img:hover{
    opacity: 1;
}
.grid-btn{
    background-color: #379683;
}

.cat{
    color:cornflowerblue;
    font-size: 18px;
    text-align: center;
}

.note{
    opacity: 0.3;
    width: 200px;
    font-size: 0.8rem;
    margin-top: 60px;
    margin-left: 30px;
}
.note:hover{
    opacity: 1;
}